@import "custom-variables";

// Theme Add-Ons

body {
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-overflow-style: -ms-autohiding-scrollbar;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);

	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
}

.ellipsis {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.transition {
	transition: all 0.15s ease-in-out;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
	margin: 2px;
}

// Theme Overrides

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-family-condensed;
}

th {
	font-weight: inherit;
}

.btn, .mx-button {
	border: none;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

	&:hover, &:active, &:focus {
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	}
}

.card {
	border: none;
	padding: $double-spacing;
	background-color: white;
	box-shadow: $card-shadow;
}

.formblock-title {
	border-bottom: none;
}

.form-control {
	background-color: #fafafa;
	box-shadow: inset 0 1px 2px 0 $gray-lighter;
}

.form-group {
	margin-bottom: $spacing;
}

.form-group > [class*=col-] {
	padding-right: $spacing;
	padding-left: $spacing;
}

.form-group .control-label {
	font-weight: inherit;
}

.form-horizontal .form-group {
	margin-right: -$spacing;
	margin-left: -$spacing;
}

.mx-dataview .mx-dataview-controls {
	margin-top: 8px;
	border-top: none;
	padding: 0;
}

.mx-grid .mx-grid-controlbar, .mx-grid .mx-grid-searchbar {
	margin-top: 0;
}

.pageheader {
	border-bottom: none;
	background: inherit;
}

.pageheader-title {
	font-size: 28px;
}

/*
.row {
	margin-right: -$spacing;
	margin-left: -$spacing;
}
*/

// Pt UI Theme

.pt-region-bottom-bar {
	height: 128px;
	border-bottom: $half-spacing solid $brand-primary;
	background: #414141 url("/images/logo.svg") center/auto 48px no-repeat padding-box padding-box;
}

.pt-region-content {
	position: relative;
	box-shadow: $hole-shadow;
}

.pt-region-top-bar {
	border-top: $half-spacing solid $brand-primary;
	padding: $double-spacing;
	background-color: #414141;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: white;
}

.pt-region-top-bar:after {
	content: "Ski Weekend Subscription";
}

// Pt UI Components

.pt-disclaimer-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: $double-spacing;
	background: url("/images/snow.jpg") center/cover no-repeat padding-box padding-box;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: $hole-shadow;
}

.pt-disclaimer-card {
	width: 60%;
	min-width: 288px;
	border-radius: $border-radius-default;
	padding: $double-spacing;
	background-color: white;
	box-shadow: $card-shadow;
}
