//== Gray Shades
//## Different gray shades to be used for our variables and components
$gray-darker: #222222;
$gray-dark: #333333;
$gray-810: #414141;
$gray: #555555;
$gray-light: #888888;
$gray-primary: #d7d7d7;
$gray-lighter: #eeeeee;
$gray-100: #f5f5f5;
$gray-50: #fafafa;

//== Step 1: Brand Colors
$brand-default: #dddddd;
$brand-primary: #0595db;
$brand-inverse: #252c36;
$brand-info: #48b0f7;
$brand-success: #76ca02;
$brand-warning: #f99b1d;
$brand-danger: #ed1c24;

// Used for other variables
$default-border-color: $gray-primary;

// Backgrounds
$bg-color: $gray-100;
$bg-color-secondary: white;

// Shadows
$card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
$hole-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.25), inset 0 -4px 8px 0 rgba(0, 0, 0, 0.25);

// Spacings
$spacing: 8px;
$half-spacing: $spacing / 2;
$double-spacing: $spacing * 2;

//== Step 3: Typography
$font-family-import: "/fonts/pt-sans/fonts.css";
$font-family-base: "PT Sans", sans-serif;
$font-family-condensed: "PT Sans Narrow", sans-serif;
$font-family-expanded: "PT Sans Caption", sans-serif;
$font-base-size: 14px;
$font-base-color: #555555;
$link-color: $brand-primary;
$font-size-h1: 31px;
$font-size-h2: 26px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-header-margin: 0 0 $double-spacing 0 !default;
$font-color-headers: #17347b;

//== Step 2: UI Customization

// Global Border Color
$border-radius-default: 2px !default;

// Topbar
$topbar-bg: #ffffff;
$navtopbar-border-color: $default-border-color;
$topbar-border-color: $navtopbar-border-color;
$topbar-minimalheight: 60px;
$navtopbar-color: $font-base-color;
$navbar-brand-name: $default-border-color;
$brand-logo: false;
$brand-logo-height: 30px;
$brand-logo-width: 30px;

// Sidebar
$sidebar-bg: $brand-inverse;
$navsidebar-color: #ffffff;
$navsidebar-color-hover: $navsidebar-color;

//== Form
//## Used in components/inputs

// Form Input dimensions
$form-input-padding-y: $spacing !default;
$form-input-padding-x: $spacing !default;

// Form Group
$form-group-margin-bottom: $spacing !default;
$form-group-gutter: $spacing !default;

//== Grids
//## Used for Datagrid, Templategrid, Listview & Tables (see components folder)

// Spacing
// Default
$grid-padding-top: $spacing !default;
$grid-padding-right: $spacing !default;
$grid-padding-bottom: $spacing !default;
$grid-padding-left: $spacing !default;

// Listview
$listview-padding-top: $spacing !default;
$listview-padding-right: $spacing !default;
$listview-padding-bottom: $spacing !default;
$listview-padding-left: $spacing !default;

//== Spacing
//## Advanced layout options (used in base/mixins/default-spacing)

// Small spacing
$spacing-small: $half-spacing !default;

// Medium spacing
$spacing-medium: $spacing !default;
$t-spacing-medium: $spacing !default;
$m-spacing-medium: $spacing !default;

// Large spacing
$spacing-large: $double-spacing !default;
$t-spacing-large: $double-spacing !default;
$m-spacing-large: $spacing !default;

// Layout spacing
$layout-spacing-top: $double-spacing !default;
$layout-spacing-right: $double-spacing !default;
$layout-spacing-bottom: $double-spacing !default;
$layout-spacing-left: $double-spacing !default;

$t-layout-spacing-top: $double-spacing !default;
$t-layout-spacing-right: $double-spacing !default;
$t-layout-spacing-bottom: $double-spacing !default;
$t-layout-spacing-left: $double-spacing !default;

$m-layout-spacing-top: $spacing !default;
$m-layout-spacing-right: $spacing !default;
$m-layout-spacing-bottom: $spacing !default;
$m-layout-spacing-left: $spacing !default;

// Gutter size
$gutter-size: $spacing !default;

//== Tables
//## Table spacing options (used in components/tables)

$padding-table-cell-top: $half-spacing !default;
$padding-table-cell-bottom: $half-spacing !default;
$padding-table-cell-left: $half-spacing !default;
$padding-table-cell-right: $half-spacing !default;

// == Old variables used in theme customizer to the new lib variables
$font-size-default: $font-base-size;
$font-color-default: $font-base-color;
$border-color-default: $default-border-color;
$font-color-header: $font-color-headers;
